<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>

{{ encore_entry_link_tags('app') }}
{{ encore_entry_script_tags('app') }}

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_project_index') }}">Projets</a></li>
                <li><a href="{{ path('app_register') }}">register</a></li>
                {# <li><a href="{{ path('app_profile') }}">Profil</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_dashboard') }}">Dashboard Admin</a></li>
                {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    
                {% endif %} #}
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}
        {# Contenu dynamique ici #}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Mon Portfolio - Tous droits réservés.</p>
    </footer>

    {# Inclure les fichiers JS ici #}
    <script src="{{ asset('js/app.js') }}"></script>
</body>
</html>